name: Build & Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build & Push Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Log in to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: harbor.yunnet.top
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASS }}
      # 构建 Docker 镜像（Dockerfile 内部会完成 Maven 构建）
      - name: Build Docker image
        run: |
          docker build -t harbor.yunnet.top/all/rbot:latest .
      # 推送镜像
      - name: Push Docker image
        run: |
          docker push harbor.yunnet.top/all/rbot:latest