name: Build & Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build & Push Image
    runs-on: debian-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # 设置 Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: harbor.yunnet.top
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASS }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: |
            harbor.yunnet.top/all/rbot:latest